.res-container {
    /* border: solid 1px navy; */
    padding: 0 20%;
}

.res-title {
    font-size: 64px;
    text-align: center;
}

.img-top, .img-btm {
    /* border: solid 1px black; */
    width: 100%;
    height: 300px;
    border-radius: 16px;
}

.img-top {
    background-image: url(/src/images/restaurant.jpg);
    background-size: cover;
    background-position: 0 50%;
}

.img-btm {
    background-image: url(/src/images/greek\ salad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 30%;
}

.status-bar {
    /* border: solid 1px black; */
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 10px;
}

.stat {
    /* border: solid 1px sienna; */
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px salmon; */
    border-radius: 50px;
    font-size: 40px;
    font-weight: 500;
    background-color: #fbdabb;
}

.statitm3 {
    background-color: #ee9972;
    color: #edefee;
}

.line {
    background: linear-gradient(
      to bottom,
      white 0%,
      white 48%,
      #333333 49%,
      #333333 52%,
      white 53%,
      white 100%
    );
}

form {
    display: flex;
    flex-direction: column;
    /* border: solid 1px seagreen; */
    align-items: center;
    font-size: 20px;
    background-color: #495e57;
    border-radius: 16px;
    margin: 5% 0;
}

form label {
    color: #edefee;
}

form div {
    display: flex;
    flex-direction: column;
    /* border: solid 1px seagreen; */
    align-items: center;
    margin: 2% 0;
}

.forminput {
    width: 600px;
    height: 75px;
    border-radius: 16px;
    text-align: center;
    background-color: #edefee;
}

::placeholder {
    text-align: center;
}

#guests-input {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guests-title {
    width: 100%;
    /* border: solid 3px black; */
}

label[for=guests] {
    /* border: solid 1px gold; */
    width: 100%;
    text-align: center;
}

#submit {
    height: 50px;
    width: 200px;
    margin-top: 5%;
    /* border: solid 1px saddlebrown; */
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4ce14;
    border-radius: 16px;
    margin-bottom: 5%;
}

#date-time {
    display: flex;
    flex-flow: row nowrap;
    width: 500px;
    justify-content: space-around;
}

#date-time label {
    width: 100%;
    text-align: center;
}

#date-time input, select {
    height: 75px;
    width: 200px;
    text-align: center;
    border-radius: 16px;
    background-color: #edefee;
}
