.card-container {
    /* border: solid 2px lightcoral; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr 2fr 1fr;
    grid-template-areas:'card-image card-image'
                        'card-title card-price'
                        'card-description card-description'
                        'card-link .'
;

    width: 350px;
    height: 100%;
    border-radius: 16px;
    background-color: #edefee;
    color: #333333;
}

.card-image {
    grid-area: card-image;
    /* border: solid 1px forestgreen; */
    background-image: url(/src/images/lemon\ dessert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 16px 16px 0 0;
}

.card-title {
    grid-area: card-title;
    /* border: solid 1px hotpink; */
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 0 0 10px;
}

.card-description {
    grid-area: card-description;
    /* border: solid 1px orange; */
    padding-left: 10px;
    font-size: 16px;
}

.card-price {
    grid-area: card-price;
    /* border: solid 1px yellowgreen; */
    padding: 10px;
    color: #ee9972;
}

.card-link {
    grid-area: card-link;
    /* border: solid 1px thistle; */
    padding-left: 10px;
    font-weight: bolder;
    font-size: 18px;
}