.nav-container {
    display: grid;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-items: center;
    grid-template-columns: 2fr 7fr;
    /* border: solid 2px orange; */
}

.nav {
    /* border: solid 1px purple; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    padding-left: 15%;
}

.logo {
    background-image: url(/src/images/Logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 140px;
    /* border: solid 2px black; */
}